{% extends "fglayout.html" %}
{% block title %}Account created{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block head1cnt %}Account created{% endblock %}
{% block head2cnt %}Access your account now{% endblock %}
{% block bodyextn %}
<br/>
<p class="normelem">
    Your account was successfully created.
</p>
<dl class="uk-description-list">
    <dt class="headelem">Fullname</dt>
    <dd class="normelem">{{ fullname }}</dd>
    <dt class="headelem">Username</dt>
    <dd class="normelem">{{ username }}</dd>
    <dt class="headelem">Email address</dt>
    <dd class="normelem">{{ emailadr }}</dd>
</dl>
<p class="normelem">
    Use the above username and password that you entered previously to log in to your account.
</p>
<a href="{{ url_for("entrydir") }}">
    <button class="uk-button uk-background-secondary headelem forggrin">
        Go to login page
    </button>
</a>
<br/><br/>
{% endblock %}
{% block versdata %}
    FORGE v{{ versinfo.mainline }}
{% endblock %}
{% block body %}{{ super() }}{% endblock %}