{% extends "fgparent.html" %}
{% block title %}Broadcast{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block pagename %}Broadcast{% endblock %}
{% block navaloca %}
    <ul class="uk-margin-remove uk-breadcrumb normelem">
        <li><a class="blcktint" href="{{ url_for("dashbord") }}">Dashboard</a></li>
        <li><span class="blcktint">Broadcast</span></li>
    </ul>
{% endblock %}
{% block bodyextn %}
<br/>
<div class="uk-card-body uk-background-default uk-padding-remove">
    <h3 class="headelem">Received directives</h3>
    <h3 class="headelem">Sent directives</h3>
</div>
<br/>
{% endblock %}
{% block logdinas %}<p class="uk-margin-remove italelem">Logged in as {{ username }}</p>{% endblock %}
{% block versdata %}
    FORGE v{{ versinfo.mainline }}
{% endblock %}
{% block body %}{{ super() }}{% endblock %}