{% extends "fgparent.html" %}
{% block title %}Contacts{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block pagename %}Contacts{% endblock %}
{% block navaloca %}
    <ul class="uk-margin-remove uk-breadcrumb normelem">
        <li><a class="blcktint" href="{{ url_for("dashbord") }}">Dashboard</a></li>
        <li><span class="blcktint">Contacts</span></li>
    </ul>
{% endblock %}
{% block bodyextn %}
    <br/>
    {% if erorcode != "" %}
        <div class="uk-alert-danger" uk-alert>
            <p class="normelem">{{ erorlist[erorcode] }}</p>
        </div>
    {% endif %}
    <h3 class="headelem">Unsaved contacts</h3>
    <form class="uk-search uk-search-default" method="POST">
        <fieldset class="uk-fieldset">
            <span uk-search-icon></span>
            <input class="uk-search-input normelem" type="search" placeholder="Username" name="srchtext">
        </fieldset>
    </form>
    <table class="uk-table uk-table-justify uk-table-divider uk-table-small">
        <thead>
            <tr>
                <th class="uk-width-small headelem">USERNAME</th>
                <th class="uk-width-large headelem">FULLNAME</th>
            </tr>
        </thead>
        <tbody>
            {% for indx in srchuser %}
            <tr>
                <td class="headelem">{{ indx.username }}</td>
                <td class="normelem"><a href="{{ url_for("viewuser", parauser="save", usercont=indx.username) }}">{{ indx.fullname }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3 class="headelem">Saved contacts</h3>
    <table class="uk-table uk-table-justify uk-table-divider uk-table-small">
        <thead>
            <tr>
                <th class="uk-width-small headelem">USERNAME</th>
                <th class="uk-width-large headelem">FULLNAME</th>
            </tr>
        </thead>
        <tbody>
            {% for indx in savedone %}
            <tr>
                <td class="headelem">{{ indx.username }}</td>
                <td class="normelem"><a href="{{ url_for("viewuser", parauser="exst", usercont=indx.username) }}">{{ indx.fullname }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>
    <br/>
{% endblock %}
{% block logdinas %}<p class="uk-margin-remove italelem">Logged in as {{ username }}</p>{% endblock %}
{% block versdata %}
    FORGE v{{ versinfo.mainline }}
{% endblock %}
{% block body %}{{ super() }}{% endblock %}