{% extends "fgparent.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block head1cnt %}Dashboard{% endblock %}
{% block head2cnt %}Welcome, {{ username }}{% endblock %}
{% block bodyextn %}
    <br/>
    <div class="uk-child-width-1-3@s" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-small uk-card-body">
                <h3 class="uk-card-title hugeelem">COMPOSE</h3>
                <ul class="normelem">
                    <li>Compose new directive</li>
                    <li>Check directive drafts</li>
                    <li>Send acknowledged mail</li>
                    <li>Share content links</li>
                </ul>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-small uk-card-body">
                <h3 class="uk-card-title hugeelem">INBOX</h3>
                <ul class="normelem">
                    <li>Receive 6 new messages</li>
                    <li>Go through 16 existing mails</li>
                    <li>Remove old directives</li>
                    <li>Mark special mails</li>
                </ul>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-small uk-card-body">
                <h3 class="uk-card-title hugeelem">CONTACTS</h3>
                <ul class="normelem">
                    <li>Add new contacts</li>
                    <li>Remove unwanted contacts</li>
                    <li>Update existing contacts</li>
                    <li>View contacts</li>
                </ul>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-small uk-card-body">
                <h3 class="uk-card-title hugeelem">TRASHCAN</h3>
                <ul class="normelem">
                    <li>Permanently remove mails</li>
                    <li>Restore directives again</li>
                    <li>Mark for direct removal</li>
                    <li>Mark mails for immunity</li>
                </ul>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-small uk-card-body">
                <h3 class="uk-card-title hugeelem">GROUPS</h3>
                <ul class="normelem">
                    <li>Send directives to group</li>
                    <li>Receive shared messages</li>
                    <li>Add users to group</li>
                    <li>Remove users from group</li>
                </ul>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-small uk-card-body">
                <h3 class="uk-card-title hugeelem">BROADCAST</h3>
                <ul class="normelem">
                    <li>Pick specific recipients</li>
                    <li>Share to multiple people</li>
                    <li>Recipient-aware sharing</li>
                    <li>Hidden recipient sharing</li>
                </ul>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-small uk-card-body">
                <h3 class="uk-card-title hugeelem">SETTINGS</h3>
                <ul class="normelem">
                    <li>Change profile options</li>
                    <li>Refresh PKCS credentials</li>
                    <li>Change password</li>
                    <li>Shutdown account</li>
                </ul>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-small uk-card-body">
                <h3 class="uk-card-title hugeelem">LOGOUT</h3>
                <ul class="normelem">
                    <li>Commit all changes</li>
                    <li>Secure logout from client</li>
                    <li>Add timeout for session</li>
                    <li>Shutdown session</li>
                </ul>
            </div>
        </div>
    </div>
    <br/>
{% endblock %}
{% block versdata %}
    FORGE v{{ versinfo.mainline }}
{% endblock %}
{% block body %}{{ super() }}{% endblock %}