{% extends "fgparent.html" %}
{% block title %}Logout successful{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block pagename %}Logout successful{% endblock %}
{% block navaloca %}
    <p class="uk-margin-remove normelem uk-text-small">Visit FORGE again</p>
{% endblock %}
{% block bodyextn %}
<br/>
<div class="uk-card-body uk-background-default uk-padding-remove">
    <p class="normelem">
        You have successfully logged out of your account. The session
        token is invalidated so all your preferences are secure and cannot
        be modified without you logging into the account again. Visit
        again soon!
    </p>
    <a href="{{ url_for("entrydir") }}">
        <button class="uk-button uk-background-secondary headelem forggrin">
            Go to login page
        </button>
    </a>
</div>
<br/>
{% endblock %}
{% block logdinas %}<p class="uk-margin-remove italelem">Code - FGLOGOUT</p>{% endblock %}
{% block versdata %}
    FORGE v{{ versinfo.mainline }}
{% endblock %}
{% block body %}{{ super() }}{% endblock %}