{% extends "fgparent.html" %}
{% block title %}Groups{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block pagename %}Groups{% endblock %}
{% block navaloca %}
    <ul class="uk-margin-remove uk-breadcrumb normelem">
        <li><a class="blcktint" href="{{ url_for("dashbord") }}">Dashboard</a></li>
        <li><span class="blcktint">Groups</span></li>
    </ul>
{% endblock %}
{% block bodyextn %}
<br/>
<div class="uk-card-body uk-background-default uk-padding-remove">
    <h3 class="uk-margin-remove headelem">Active groups</h3>
    <table class="uk-table uk-table-justify uk-table-divider uk-table-small">
        <thead>
            <tr>
                <th class="uk-width-small headelem">ONWER</th>
                <th class="uk-width-large headelem">GROUP NAME</th>
                <th class="uk-width-small headelem">DIRECTIVES</th>
            </tr>
        </thead>
        <tbody>
            {% for indx in gruplist %}
            <tr>
                <td class="headelem">{{ indx["ownrname"] }}</td>
                <td class="normelem"><a href="{{ url_for("onegroup", grupiden=indx["grupiden"]) }}">{{ indx["grupname"] }}</a></td>
                <td class="normelem">420 mails</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3 class="uk-margin-remove headelem">Not satisfied?</h3>
    <br/>
    <a href="{{ url_for("makegrup") }}">
        <button class="uk-button uk-background-secondary uk-button-small headelem forggrin">
            CREATE GROUP
        </button>
    </a>
</div>
<br/>
{% endblock %}
{% block logdinas %}<p class="uk-margin-remove italelem">Logged in as {{ username }}</p>{% endblock %}
{% block versdata %}
    FORGE v{{ versinfo.mainline }}
{% endblock %}
{% block body %}{{ super() }}{% endblock %}