<!DOCTYPE html>
<html>
    <head>
        <title>Inbox</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for("static", filename="css3/uikit.min.css") }}" />
        <link rel="stylesheet" href="{{ url_for("static", filename="css3/custfrmt.css") }}" />
        <script src="{{ url_for("static", filename="jscn/uikit.min.js") }}"></script>
        <script src="{{ url_for("static", filename="jscn/uikit-icons.min.js") }}"></script>
    </head>
    <body>
        <br/>
        <div class="uk-container uk-container-small">
            <div class="uk-card uk-background-secondary uk-width-1-1@s">
                <div class="uk-card-header forggrin">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto uk-padding-remove">
                            <img class="uk-border-circle" width="50" height="50" src="{{ url_for("static", filename="imgs/datalogo.png") }}">
                        </div>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove headelem">Inbox</h3>
                            <p class="uk-text-meta uk-margin-remove normelem">Welcome, {{ username }}</p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body uk-background-default uk-padding-remove uk-margin-remove">
                    <nav class="uk-navbar-container headelem" uk-navbar>
                        <div class="uk-navbar-left">
                            <ul class="uk-navbar-nav">
                                <li><a href="{{ url_for("makemail") }}">Compose</a></li>
                                <li><a href="{{ url_for("inbxpage") }}">Inbox</a></li>
                                <li><a href="{{ url_for("contacts") }}">Contacts</a></li>
                                <li><a href="{{ url_for("trashcan") }}">Trashcan</a></li>
                                <li><a href="{{ url_for("grupdata") }}">Groups</a></li>
                                <li><a href="{{ url_for("brodcast") }}">Broadcast</a></li>
                                <li><a href="{{ url_for("settings") }}">Settings</a></li>
                                <li><a href="{{ url_for("fglogout") }}">Logout</a></li>
                            </ul>
                        </div>
                    </nav>
                    <h3 class="headelem">Received directives</h3>
                    <table class="uk-table uk-table-justify uk-table-divider uk-table-small">
                        <thead>
                            <tr>
                                <th class="uk-width-small headelem">SOURCE</th>
                                <th class="uk-width-large headelem">DIRECTIVE</th>
                                <th class="uk-width-small headelem">DATE</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for indx in recvdict %}
                            <tr>
                                <td class="headelem">{{ indx.srceuser }}</td>
                                <td class="normelem"><a href="{{ url_for("readpage", paradrct="recv", mailiden=indx.mailiden) }}">{{ indx.subjtext }}</a></td>
                                <td class="normelem">{{ indx.timedata.date }} {{ indx.timedata.mont.tinyform }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <h3 class="headelem">Sent directives</h3>
                    <table class="uk-table uk-table-justify uk-table-divider uk-table-small">
                        <thead>
                            <tr>
                                <th class="uk-width-small headelem">DESTINATION</th>
                                <th class="uk-width-large headelem">DIRECTIVE</th>
                                <th class="uk-width-small headelem">DATE</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for indx in senddict %}
                            <tr>
                                <td class="headelem">{{ indx.destuser }}</td>
                                <td class="normelem"><a href="{{ url_for("readpage", paradrct="send", mailiden=indx.mailiden) }}">{{ indx.subjtext }}</a></td>
                                <td class="normelem">{{ indx.timedata.date }} {{ indx.timedata.mont.tinyform }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br/>
                </div>
                <div class="uk-card-footer forggrin">
                    <p class="uk-margin-remove normelem">FORGE Client v{{ versinfo.mainline }}</p>
                    <p class="uk-margin-remove uk-text-small normelem">Built by <span class="headelem">t0xic0der</span></p>
                </div>
            </div>
        </div>
    </body>
</html>