{% extends "fglayout.html" %}
{% block title %}Invalid session{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block head1cnt %}Invalid session{% endblock %}
{% block head2cnt %}Try logging again{% endblock %}
{% block bodyextn %}
<br/>
<p class="normelem">
    You are attempting to access an invalidated session.
    This happens if you have recently logged out and still
    attempt going back to menu items that require
    renewed authentication. Try logging again.
</p>
<a href="{{ url_for("entrydir") }}">
    <button class="uk-button uk-background-secondary headelem forggrin">
        Go to login page
    </button>
</a>
<br/><br/>
{% endblock %}
{% block versdata %}
    FORGE v{{ versinfo.mainline }}
{% endblock %}
{% block body %}{{ super() }}{% endblock %}