{% extends "fgparent.html" %}
{% block title %}Compose{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block pagename %}Compose{% endblock %}
{% block navaloca %}
    <ul class="uk-margin-remove uk-breadcrumb normelem">
        <li><a class="blcktint" href="{{ url_for("dashbord") }}">Dashboard</a></li>
        <li><span class="blcktint">Compose</span></li>
    </ul>
{% endblock %}
{% block bodyextn %}
<br/>
<div class="uk-card-body uk-background-default uk-padding-remove">
    {% if erorcode != "" %}
    <div class="uk-alert-danger" uk-alert>
        <p class="normelem">{{ erorlist[erorcode] }}</p>
    </div>
    {% endif %}
    <p class="normelem">
        Composition helps you to securely send directives to single recipient.
    </p>
    <p class="normelem">
        Use BROADCAST or GROUPS feature to address multiple recipients.
    </p>
    <form class="uk-form-horizontal uk-margin-medium" method="POST">
        <fieldset class="uk-fieldset normelem">
            <div class="uk-margin">
                <label class="uk-form-label headelem" for="form-horizontal-text">RECIPIENT</label>
                <div class="uk-form-controls">
                    {% if receiver!="" %}
                        <input class="uk-input normelem uk-form-small" id="form-horizontal-text" type="text" name="receiver" value="{{ receiver }}" placeholder="Add the username of the receiver" readonly/>
                    {% else %}
                        
                        <input class="uk-input normelem uk-form-small" id="form-horizontal-text" type="text" name="receiver" placeholder="Add the username of the receiver" />
                    {% endif %}
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label headelem" for="form-horizontal-text">SUBJECT</label>
                <div class="uk-form-controls">
                    <input class="uk-input normelem uk-form-small" id="form-horizontal-text" type="text" name="subjtext" placeholder="Add the subject of your directive" />
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label headelem" for="form-horizontal-select">CONTENT</label>
                <div class="uk-form-controls">
                    <textarea class="uk-textarea normelem uk-form-small" rows="5" name="conttext" placeholder="Add the content of your directive"></textarea>
                </div>
            </div>
        </fieldset>
        <input type="submit" value="DISPATCH" class="uk-button uk-background-secondary uk-button-small headelem forggrin"/>
    </form>
</div>
<br/>
{% endblock %}
{% block logdinas %}<p class="uk-margin-remove italelem">Logged in as {{ username }}</p>{% endblock %}
{% block versdata %}
    FORGE v{{ versinfo.mainline }}
{% endblock %}
{% block body %}{{ super() }}{% endblock %}