{% extends "fglayout.html" %}
{% block title %}Directive purged{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block head1cnt %}Directive purged{% endblock %}
{% block head2cnt %}Welcome, {{ username }}{% endblock %}
{% block bodyextn %}
<br/>
<p class="normelem">
    The directive you specified was permanently purged from trash.
    There is no way to restore it though you can ask for it to be
    sent back again to you.
</p>
<a href="{{ url_for("trashcan") }}">
    <button class="uk-button uk-background-secondary headelem forggrin">
        Go back to trashcan
    </button>
</a>
<br/><br/>
{% endblock %}
{% block versdata %}
    FORGE v{{ versinfo.mainline }}
{% endblock %}
{% block body %}{{ super() }}{% endblock %}