{% extends "fgparent.html" %}
{% block title %}Directive purged{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block pagename %}Directive purged{% endblock %}
{% block navaloca %}
    <p class="uk-margin-remove normelem uk-text-small">Directive permanently purged</p>
{% endblock %}
{% block bodyextn %}
<br/>
<div class="uk-card-body uk-background-default uk-padding-remove">
    <p class="normelem">
        The directive you specified was permanently purged from trash.
        There is no way to restore it though you can ask for it to be
        sent back again to you.
    </p>
    <a href="{{ url_for("trashcan") }}">
        <button class="uk-button uk-background-secondary uk-button-small headelem forggrin">
            Go back to trashcan
        </button>
    </a>
</div>
<br/>
{% endblock %}
{% block logdinas %}<p class="uk-margin-remove italelem">Logged in as {{ username }}</p>{% endblock %}
{% block versdata %}
    FORGE v{{ versinfo.mainline }}
{% endblock %}
{% block body %}{{ super() }}{% endblock %}