{% extends "fgparent.html" %}
{% block title %}Inbox{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block head1cnt %}Inbox{% endblock %}
{% block head2cnt %}Welcome, {{ username }}{% endblock %}
{% block bodyextn %}
<h3 class="headelem">Received directives</h3>
<h3 class="headelem">{{ maildict.subjtext }}</h3>
<h4 class="headelem uk-margin-remove">{{ maildict.interact }}</h4>
<h5 class="italelem uk-margin-remove">{{ maildict.timedata.date }} {{ maildict.timedata.mont.tinyform }} {{ maildict.timedata.year }}, {{ maildict.timedata.hour }}:{{ maildict.timedata.mins }} GMT</h5>
<p class="uk-text-justify normelem">{{ maildict.conttext }}</p>
<br/>
<a href="{{ url_for("rmovmail", paradrct=itempara, mailiden=maildict.mailiden) }}"
    <button class="uk-button uk-button-secondary forggrin headelem">REMOVE</button>
</a>
<br/>
<br/>
{% endblock %}
{% block versdata %}
    FORGE v{{ versinfo.mainline }}
{% endblock %}
{% block body %}{{ super() }}{% endblock %}