{% extends "fgparent.html" %}
{% block title %}Reader{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block pagename %}Reader{% endblock %}
{% block navaloca %}
    <ul class="uk-margin-remove uk-breadcrumb normelem">
        <li><a class="blcktint" href="{{ url_for("dashbord") }}">Dashboard</a></li>
        <li><a class="blcktint" href="{{ url_for("grupdata") }}">Groups</a></li>
        <li><a class="blcktint" href="{{ url_for("onegroup", grupiden=grupiden) }}">{{ grupname }}</a></li>
        <li><span class="blcktint">Reader</span></li>
    </ul>
{% endblock %}
{% block bodyextn %}
<br/>
<div class="uk-card-body uk-background-default uk-padding-remove">
    <h3 class="headelem">{{ maildict.subjtext }}</h3>
    <h4 class="headelem uk-margin-remove">{{ maildict.interact }}</h4>
    <h5 class="italelem uk-margin-remove">{{ maildict.timedata.date }} {{ maildict.timedata.mont.tinyform }} {{ maildict.timedata.year }}, {{ maildict.timedata.hour }}:{{ maildict.timedata.mins }} GMT</h5>
    <p class="uk-text-justify normelem">{{ maildict.conttext }}</p>
    <br/>
    <p class="normelem">Directives sent in a group cannot be deleted or purged</p>
</div>
<br/>
{% endblock %}
{% block logdinas %}<p class="uk-margin-remove italelem">Logged in as {{ username }}</p>{% endblock %}
{% block versdata %}
    FORGE v{{ versinfo.mainline }}
{% endblock %}
{% block body %}{{ super() }}{% endblock %}