{% extends "fgparent.html" %}
{% block title %}Directive removed{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block pagename %}Directive removed{% endblock %}
{% block navaloca %}
    <p class="uk-margin-remove normelem uk-text-small">The directive has been removed from your inbox</p>
{% endblock %}
{% block bodyextn %}
<br/>
<div class="uk-card-body uk-background-default uk-padding-remove">
<p class="normelem">
    The directive you specified was successfully moved to trashcan.
    If this was done unintentionally, you can still restore it. To
    permanently delete it, purge it from the trashcan.
</p>
<a href="{{ url_for("inbxpage") }}">
    <button class="uk-button uk-background-secondary uk-button-small headelem forggrin">
        Go back to inbox
    </button>
</a>
</div>
<br/>
{% endblock %}
{% block logdinas %}<p class="uk-margin-remove italelem">Logged in as {{ username }}</p>{% endblock %}
{% block versdata %}
    FORGE v{{ versinfo.mainline }}
{% endblock %}
{% block body %}{{ super() }}{% endblock %}