{% extends "fglayout.html" %}
{% block title %}Directive restored{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block head1cnt %}Directive restored{% endblock %}
{% block head2cnt %}Welcome, {{ username }}{% endblock %}
{% block bodyextn %}
<br/>
<p class="normelem">
    The directive you specified was successfully restored to inbox.
    If this was done unintentionally, you can still delete it. To
    permanently delete it, purge it from the trashcan.
</p>
<a href="{{ url_for("trashcan") }}">
    <button class="uk-button uk-background-secondary headelem forggrin">
        Go back to trashcan
    </button>
</a>
<br/><br/>
{% endblock %}
{% block versdata %}
    FORGE v{{ versinfo.mainline }}
{% endblock %}
{% block body %}{{ super() }}{% endblock %}