{% extends "fgparent.html" %}
{% block title %}Directive restored{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block pagename %}Directive restored{% endblock %}
{% block navaloca %}
    <p class="uk-margin-remove normelem uk-text-small">Directive successfully restored</p>
{% endblock %}
{% block bodyextn %}
<br/>
<div class="uk-card-body uk-background-default uk-padding-remove">
    <p class="normelem">
        The directive you specified was successfully restored to inbox.
        If this was done unintentionally, you can still delete it. To
        permanently delete it, purge it from the trashcan.
    </p>
    <a href="{{ url_for("trashcan") }}">
        <button class="uk-button uk-background-secondary headelem forggrin">
            Go back to trashcan
        </button>
    </a>
</div>
<br/>
{% endblock %}
{% block logdinas %}<p class="uk-margin-remove italelem">Logged in as {{ username }}</p>{% endblock %}
{% block versdata %}
    FORGE v{{ versinfo.mainline }}
{% endblock %}
{% block body %}{{ super() }}{% endblock %}