{% extends "fglayout.html" %}
{% block title %}User unfollowed{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block head1cnt %}User unfollowed{% endblock %}
{% block head2cnt %}Welcome, {{ username }}{% endblock %}
{% block bodyextn %}
<br/>
<p class="normelem">
    You have unfollowed the user now and an entry of their contact
    has been removed from your book. If this was done by mistake, you
    can look them up again.
</p>
<a href="{{ url_for("contacts") }}">
    <button class="uk-button uk-background-secondary headelem forggrin">
        Go back to contacts
    </button>
</a>
<br/><br/>
{% endblock %}
{% block versdata %}
    FORGE v{{ versinfo.mainline }}
{% endblock %}
{% block body %}{{ super() }}{% endblock %}